@model IEnumerable<BEUExamen.Video>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo_video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_publicacion_video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.categoria1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo_video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_publicacion_video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.categoria1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_video }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_video }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_video })
        </td>
    </tr>
}

</table>
